[2018-04-28 00:04] flyingzumwalt opened #1 "Nail Down Dates for IPFS Developers Meeting and libp2p Developers Meeting"
Finalize the dates for these two events.

Dates:
IPFS Developers Meeting: 9-11 July
libp2p Developers Meeting: 12-13 July

Remaining Blockers:
- [x] confirm that there are venues and hotels available in Berlin on those dates

[2018-04-28 00:05] flyingzumwalt opened #2 "Nail Down a Venue in Berlin for the Developer Meetings"
Find a Venue in Berlin where we can host the summits.

The Events team are tracking all venues in [this spreadsheet](https://docs.google.com/spreadsheets/d/1JAx8ZsTiMkLAs_8VsLr4ng4EdldgB_dN7uoH2726nDs/edit?usp=sharing).

[2018-04-28 00:09] flyingzumwalt opened #3 "Reserve room blocks in 2 Hotels"
Reserve room blocks in 2 hotels near the venue -- one budget option and one more premium option.

_Note: We know that PL people will probably want to stay in an Airbnb. That's fine. The events team will help with that for PL people if they want, but putting all attendees in Airbnbs is too much overhead._

Blocked by #2 and #1 (nail down dates and venue)

[2018-04-28 00:21] flyingzumwalt opened #4 "Create Application Forms for attending the Developer Meetings and set a timeline for Applications"
- **IPFS Dev Meeting** [Edit Application Form](https://docs.google.com/forms/d/16E6RWwFHcL68X2sXwh1iMEP1c_KMxqHztNGGVRAzwLo/edit) Live form: https://goo.gl/forms/sVRjrW1CA61FTwl12
- **libp2p Dev Meeting** [Edit Application Form](https://docs.google.com/forms/d/1SIQkzrLIhOLVEuC-yuPAbBvo44oMh-_y_vJJP1S4WM8/edit) Live form: https://goo.gl/forms/8YpFQ7D00s5gC3hw2
- **IPFSConf pre-registration** [Edit

[2018-04-28 00:28] flyingzumwalt opened #5 "Define Criteria for Deciding Who Should Attend"
The Developer Meetings should be  tight, focused working meetings for people who have been actively contributing to our code bases, designs, documentation and roadmaps. In order to achieve that, we must limit the attendees to:

- People who are responsible for delivering code, designs, and documentation that directly contributes to achieving our strategic goals
- A small number of key users who ha

[2018-04-28 00:37] flyingzumwalt opened #6 "Create a Website for IPFS Developers Meeting, libp2p Developers Meeting and IPFS Conf"
Create a Website for all three events: IPFS Developers Meeting, libp2p Developers Meeting and IPFS Conf

- [x] Find a firm to make the website (@skylarnorris)
- [x] ~Have @akrych put together a logo and basic visual branding for the events (@skylarnorris)~ --> discussion moved to [issue 33](https://github.com/ipfs/conference/issues/33)
- [ ] ~Plan the content of the website (@flyingzumwalt)~ --> d

[2018-04-28 00:41] flyingzumwalt opened #7 "Announce the Events and Solicit Applications from Attendees"
Publicly announce the events and invite people to apply. _(Note: We will still soft-announce on the April 30 IPFS All Hands but won't do a big announcement until we have the website and application forms lined up.)_

- Draft of the Announcements: [Announcements: Working Groups, IPFS Dev Meeting, IPFS Conf](https://drive.google.com/open?id=1ksS3cEang_k3vkHBQTqCePBveGYgulP8WrGA8K8kUSg) in google doc

[2018-04-28 00:48] flyingzumwalt opened #8 "Decide on Rough Structure for the Event"
**Deadline for Changes: Friday May 4th**

Decide on an overall structure -- what kind of activities will happen each day? We can get into the details of the content for each day over the coming weeks, but the events team need to know the rough structure now, in order to reserve the right spaces at the venue.

We have an outline sketched in the [Dev Meeting Structure](https://docs.google.com/docume

[2018-04-28 01:12] flyingzumwalt opened #9 "Identify list of presenters and panelists to invite"
We have room for a small number of invited (and/or paid) presentations and panel discussions that are sourced from outside the small group of people who will be eligible to attend the IPFS + libp2p Developers Meetings. This is an opportunity to inspire participants. It's also an opportunity to steer public perception of the event (and IPFS + libp2p) by carefully choosing who presents, who is on th

[2018-04-29 17:32] flyingzumwalt opened #10 "Guidelines for presenters"
Provide helpful guidelines for people giving presentations, including specific instructions for people giving lightning talks.

- Sketching [Conference Presentation Guidelines (WiP)](https://docs.google.com/document/d/13xvvkA2ERMaIXcSk5tIFJ60HIv2Jx68D0_QW6hVxRwM/edit#)

[2018-05-04 15:04] flyingzumwalt opened #11 "Create a public IPFS User Registry"
This is a placeholder. The actual issue is at ipfs/pm#626

All the notes are in [Creating an Public IPFS+libp2p User Registry](https://docs.google.com/document/d/1sePQNkgMV8YMt7FhZlH-FiUyp4dwn287sksz09gEkrs/edit)

[2018-05-04 18:48] flyingzumwalt opened #12 "Session proposals"
Gather proposals for sessions to put in Day 1 (plenary) or Day 2 (multi-track). Primarily gather these proposals from Working Groups and maintainers. _This is separate from the Session Pitches for the Unconf on Day 3, though some stuff from this first round of proposals might get bumped to the unconf._

From those proposals we will select the sessions that can be pre-scheduled into Day 1 (plenary)

[2018-05-07 21:16] flyingzumwalt opened #13 "Decide whether to make this repository public."
We’re currently tracking this planning work in a private github repo. Shoud we move the repo to the ipfs org and make it public?

[2018-05-09 16:57] mgoelzer opened #14 "What to do with libp2p contributors who want to attend the whole week?"
I was talking to a libp2p contributor who wants to attend both the libp2p and IPFS Summits (entire week).  Are we ok with this?

One option is to take a hardline stance -- e.g., you must have merged an IPFS PR to attend IPFS Summit, and ditto for libp2p Sumiit.  Or we can be a little looser and allow libp2p people to attend IPFS Summit if they are interested, and vice-versa.

Any opinions?

[2018-05-09 17:12] flyingzumwalt opened #15 "Post an Online Event Schedule"
Objective: Provide an up-to-date online representation of the event schedule that people can rely on.

It should:
- include information about session titles, descriptions, presenters, times and locations
- be mobile friendly
- be easy to update if the schedule changes (though we will try to minimize changes)
- ideally also accommodate the unconference sessions on Day 3, which will be pitched & vot

[2018-05-09 17:29] flyingzumwalt opened #16 "Define printed paper and signage needs"
Define printed paper needs and signage

Skylar and Jamie to define printed paper needs and signage by **Wednesday, May 16th**.

Questions:
- Do we want printed itineraries?
  - A: Yes.
- Will we want banners and standing posters?
  - A: probably?
- Registration Table Banner?
  - A: sure.
- Stage standing sign?
  - A: most likely yes, to get the branding into recordings of the event

[2018-05-09 17:36] flyingzumwalt opened #17 "Order Swag for the Event"
Skylar and Jamie to begin swag orders by Friday May 18.

Needs as defined so far:
- 100-150 IPFS Shirts
- 100-150 IPFS Dev Meeting Shirts (brand specific)
- 5000 IPFS Stickers
- 5000 Libp2p sitckers
- Libp2p Dev Meeting Shirts
- Red, yellow, green lanyards.

@diasdavid @whyrusleeping @jbenet  @protocol/pl-core speak now if you want more things on this list.

[2018-05-09 17:38] flyingzumwalt opened #18 "P2P LiveStreaming"
Get an A/V company to run the livestream, to do participant interviews, and to produce promo materials (especially for IPFS Conf) from that A/V content.

[2018-05-09 17:43] flyingzumwalt opened #19 "Plan Tracks and set daily schedule"
This is blocked by
- #12 - solicit proposals
- #9 - Identify panelists & presenters to invite (in addition to attendees who apply)
- #7 - Announce the event and solicit applications from attendees

Related: #15 - show the schedule online

[2018-05-09 17:44] flyingzumwalt opened #20 "Identify specific AV needs per room and group"

[2018-05-09 22:11] mgoelzer opened #21 "Invite downstream users to libp2p Summit?"
There are a couple of people from Ethereum who are seriously evaluating libp2p for use in their project.  Based on discussions so far, this is not just casual evaluation; they are asking very detailed questions and have been digging into the code (e.g., https://github.com/libp2p/go-floodsub/issues/77).

Would it make sense to invite folks like this to the libp2p Summit?  Personally, I would love t

[2018-05-10 16:06] flyingzumwalt opened #22 "Should we rename the Summits to "Developers Meetings"?"
In order to clearly disambiguate the Conference (November, Lisbon, 300-500 people) from the Summit (July, Berlin, 60-100 people), should we rename the Summit to "Developers Meeting"?

[2018-05-14 22:01] flyingzumwalt commented on #4
I made this repo public, so we've soft-launched applications as of today. Still need to set a timeline and a plan for reviewing the applications.

[2018-05-14 22:02] flyingzumwalt commented on #22
Done. Renamed the Summits to Dev Meetings

[2018-05-14 22:02] #22 closed

[2018-05-14 22:03] flyingzumwalt commented on #13
This repository is now public. @skylarnorris do you want me to make the readme specifically call out the fact that the dates aren't fully set in stone?

[2018-05-14 22:03] #13 closed

[2018-05-14 22:04] #21 closed

[2018-05-14 22:04] #14 closed

[2018-05-14 22:06] VictorBjelkholm commented on #18
Probably one of @yondonfu, @ericxtang or @dob (livepeer team) can answer that better than me.

[2018-05-14 22:33] skylarnorris commented on #13
Nope, they're set - we have options! So, dates are for sure what they're
going to be for the event as outlined in this repo.

--------------
"Dance like no one is watching. Encrypt like everyone is."

On Mon, May 14, 2018 at 5:03 PM, Matt Zumwalt <notifications@github.com>
wrote:

[2018-05-15 09:38] hsanjuan commented on #12
cc @hsanjuan (I'll want to have a cluster session but I have to flesh out the topics in it)

[2018-05-15 15:59] fcbaila opened #23 "IPFS Website Discussion Doc."
Hi everyone, we are putting our deliverables in this doc:
https://docs.google.com/document/d/1X2HKFq_4xy0wGnlgL_NzqeC_exHTHx6YvpxmNUftguk/edit?usp=sharing

[2018-05-16 01:53] flyingzumwalt commented on #8
The window of opportunity is closing for making big changes to the structure of the event. Speak up now if you don't like the proposed structure of
- Day 1: single-track, pre-scheduled. Sourced from planning team, working group captains, and people's applications to attend._
- Day 2: mulit-track, pre-scheduled. _Sourced from working group captains and people's applications to attend._
- Day 3: unc

[2018-05-16 02:32] flyingzumwalt opened #24 "Where to Propose Sessions for the Developer Meetings?"
Should we have people propose sessions in this repository or should we do that elsewhere?

Example: If I want to propose having an [Allies Workshop](http://geekfeminism.wikia.com/wiki/Allies_workshop), and @lidel wants to propose having a working session about crafting our asks for Browser Manufacturers, where should we propose them?

[2018-05-16 09:51] luisptorres opened #25 "IPFS Website Tech stack"
Hi Everyone.

Regarding the website tech stack, we will be using **Gatsby**, a library that uses **React** to develop and build static websites, with great performance benefits over regular websites. Both are fully open-source.

Besides these libraries we will have **PostCSS**, configured with **precss** and **autoprefixer**, the first adds **SASS**-like markup to regular CSS and the second prefix

[2018-05-16 11:35] mgoelzer commented on #25
I think Github pages would be great for this group because folks on the PL side can make edits to copy very easily.

No opinion on the other tools -- you all are the experts, so I trust you.

[2018-05-16 12:34] dignifiedquire commented on #25
I suggest using IPFS to deploy the site, rather than using Github pages. Given this is an IPFS event and a static website this seems to be an ideal use case for IPFS.

[2018-05-16 12:40] VictorBjelkholm commented on #25
Unless I'm missing some requirements (only read https://github.com/ipfs/conference/issues/23 and linked docs):
- Work without JS (it's a website, not a application)
- Be deployed over IPFS
- Be using Jenkins so we can leverage the auto-deploy for dnslink websites

[2018-05-16 12:49] mgoelzer commented on #25
Here's my thought.  We have an urgent need to get the Berlin Developers Meetings pages up and live on the web because the events are only 7 weeks away and we need to run an entire application judging process in that timeframe.  (Question:  is the fact that this repo is now public a sufficient way to meet that requirement?)

However, once we are satisfied that we have met the basic need of applicat

[2018-05-16 12:53] VictorBjelkholm commented on #25
@mgoelzer it's stack requirements derived from the contents of the linked issue. I don't see any requirements of building a app rather than a website from that document, so just mentioning that as I'm not sure if Gatsby builds websites or apps, but I see a mention of React which usually is used for apps and not websites. Should not be needed at all for the website (unless it's just used for genera

[2018-05-16 13:20] mgoelzer opened #26 "https:// or ipfs:// or both"
Goal of this issue is to debate-then-decide whether IPFS Conf website should be:
1.  Available only on an `https://` uri (presumably most conducive to a quick launch)
2.  Available at both an `ipfs://` and normal `https://` uri (approachable for newcomers)
3.  Available **only** at an `ipfs://` uri (most pure approach)

I don't believe there is currently a consensus about this.  If we could reach

[2018-05-16 13:25] mgoelzer commented on #25
I want to uncouple the discussion of IPFS-vs-GHP hosting from the other issues @VictorBjelkholm is raising like a Jenkins deployment flow, so I created #26 to debate the IPFS/HTTPS point specifically.

[2018-05-16 13:34] VictorBjelkholm commented on #25
@jfranciscosousa as long as we end up with a directory with static files and relative links everywhere, stuff will work out-of-the-box. See how it works for peerpad for example: https://github.com/ipfs-shipyard/peer-pad/blob/master/ci/Jenkinsfile

[2018-05-16 13:37] luisptorres commented on #26
I think this decision should be up to you. But given the time constraints, I would advise to have the https ready first (as a fallback) and then we focus on the ipfs assuming everything goes as expected. Then you can decide which ones you want to keep.

By the way, we have the https deployment process done already, we just need your domain to connect with gh-pages. It's really a straightforward pr

[2018-05-16 13:39] jfranciscosousa commented on #25
It's perfectly fine then, our build script does that, it saves all optimized static files to a `public` folder (can be any other folder obviously).

[2018-05-16 13:39] VictorBjelkholm commented on #26
@luisptorres where is the repository at? This repository seems empty and I couldn't find any other repository within the `ipfs` org with the code?

As long as we end up with a directory of static files + relative links, we're good to go.

[2018-05-16 13:46] jfranciscosousa commented on #26
You can take a look here at https://github.com/jfranciscosousa/ipfsconf, we just created the boilerplate for development.

`bin/deploy` does that as I explained in #25

[2018-05-16 14:19] fcbaila opened #28 "Layout First Version"
We are already working on what could be the final site layout, following the branding colors, and thought about flipping the colors between pages to create contrast between them.

Homepage:
<img width="1440" alt="homepage 2x" src="https://user-images.githubusercontent.com/6978461/40192652-e92a56b4-59fc-11e8-8af9-45cdfabb5807.png">

IPFS Developers Meeting:
<img width="1440" alt="ipfs meeting - cop

[2018-05-16 14:32] mgoelzer commented on #28
Let's avoid anything that visually puts the Developers Meeting at the same level of importance as IPFS Conf (even though they are chronologically next).

The website is about IPFS Conf in November.  The majority of people who visit this website should come to IPFS Conf and will never even care that the Developers Meetings took place.

<img width="983" alt="layout_first_version_ _issue__28_ _ipfs_c

[2018-05-16 14:40] flyingzumwalt commented on #26
@VictorBjelkholm is our deploy process documented somewhere? We use Hugo, right?

@mgoelzer  If you publish assets (like a website) on ipfs you can also set up a dns entry that maps a regular http domain to the root of that asset. This puts the ipfs hash in the DNS entry instead of the url, allowing people to access ipfs-based content using regular, familiar, human-readable URIs. It also let’s you

[2018-05-16 15:25] fcbaila commented on #28
@mgoelzer New version:

<img width="1440" alt="homepage 2x" src="https://user-images.githubusercontent.com/6978461/40126678-bd4d3a2a-5925-11e8-8679-358ebc49f11b.png">

[2018-05-16 16:42] inesssilva commented on #28
libp2p page

<img width="1440" alt="libp2p meeting 2x" src="https://user-images.githubusercontent.com/17513109/40130985-7a5652a0-5930-11e8-98e6-ff4147224201.png">

[2018-05-16 16:56] dignifiedquire commented on #26
As far as I understand #27, once that is ready to go in (just missing fixes for relative paths) we will have both `ipfs` and `https` ready to be used with no additional overhead.

[2018-05-17 13:12] colinevran opened #29 "List of PL Attendees / Helpers"
@flyingzumwalt Not sure if there's an issue for this but creating a list of Core folks who will be available to join / help for the conference.

I can be there and arrive early to help organize / set up / do anything to help.

[2018-05-17 14:06] miyazono commented on #29
I'd love to help with the summit or the conf as well.  It'd give me a good excuse to go and get more IPFS exposure when I'm not really involved enough in IPFS to merit being there.

[2018-05-17 15:30] flyingzumwalt opened #30 "Decide on a Vision/Motto and Tagline for the Conference Website"
What should the tagline of the conference be? Also, Subvisual has asked for a Vision/Motto to drive branding of the website.

Let’s use [this spot in the website requirements doc](https://docs.google.com/document/d/1pjik41wpK2FjlB5kyHKyGGz0o6yAMGJwOtspElXbZTI/edit#heading=h.56a0gx1gdkpb) to iterate on the wording.

### Motto/Feel
- **Ideas**: community, shared enthusiasm, sharing information, work

[2018-05-17 15:58] flyingzumwalt commented on #30
Let’s use [this spot in the website requirements doc](https://docs.google.com/document/d/1pjik41wpK2FjlB5kyHKyGGz0o6yAMGJwOtspElXbZTI/edit#heading=h.56a0gx1gdkpb) to iterate on the wording.

[2018-05-17 16:08] fcbaila commented on #28
Homepage new version:

<img width="1440" alt="homepage 2x" src="https://user-images.githubusercontent.com/6978461/40189663-ea2e77fa-59f4-11e8-8757-3f7b1a031043.png">

[2018-05-17 16:16] fcbaila commented on #28
We have moved forward with the layouts and tried to invert the colors for each page, creating a distinction between them and the events themselves.

<img width="1440" alt="homepage 2x" src="https://user-images.githubusercontent.com/6978461/40190031-b658298e-59f5-11e8-9c52-a6d789b15454.png">
<img width="1440" alt="ipfs meeting - copy 2x" src="https://user-images.githubusercontent.com/6978461/401900

[2018-05-17 18:00] #26 closed

[2018-05-18 18:30] flyingzumwalt commented on #4
The libp2p dev meeting application has the ipfs areas of work — need to replace them with libp2p-specific options. @mgoelzer could you put together a list?

[2018-05-18 19:35] mgoelzer commented on #4
Yes, libp2p form is updated & ready to ship.

[2018-05-19 14:09] flyingzumwalt opened #31 "Scholarships & Financial Assistance"
The Dev Meeting application includes a section for requesting financial assistance. How will we decide who receives assistance?

Acceptance to the event should be need-blind, with evaluation of scholarships/assistance happening as a separate second step.

[2018-05-19 14:09] #4 closed

[2018-05-19 14:46] flyingzumwalt commented on #1
We've finalized the dates:
IPFS Developers Meeting: 9-11 July
libp2p Developers Meeting: 12-13 July

[2018-05-19 14:46] #1 closed

[2018-05-19 14:47] flyingzumwalt commented on #2
Settled on Haus Ungarn.

[2018-05-19 14:47] #2 closed

[2018-05-20 13:46] VictorBjelkholm commented on #18
@ericxtang how many clients have you had all together so far? AFAIK, livepeer is setup to have a libp2p stream between each client <> broadcaster, which seems to not scale great, compared to pubsub instead of individual streams.

[2018-05-20 15:34] ericxtang commented on #18
@VictorBjelkholm yeah you are right - the current approach with libp2p stream between client / broadcaster doesn't scale.  We fallback to a CDN to ensure playback experience is good.  Would love to try pubsub.  Is there an example anywhere?

[2018-05-22 11:07] #11 closed

[2018-05-22 15:16] flyingzumwalt opened #33 "Design Visual Identity for IPFS Conf & Developer Meetings"
_This is consolidating and re-focusing work that @akrych did in another repository over the past few weeks. Our needs have evolved slightly and @meiqimichelle has helped me clarify the design objectives. Here is the updated design request._

We are asking @akrych to design two things:
1. A visual identity (logo, color palette) for IPFS Conf
2. A related but distinct visual identity for the IPFS an

[2018-05-22 15:33] flyingzumwalt commented on #30
Motto/Feel:
- Ideas: community, shared enthusiasm, sharing information, working together
- Verbs: creating, building, planning, leading, inspiring etc.

Tag Line:
~Let's make the web faster, safer, and more open~ -- this does fit with language in the IPFS brand book but I don't want to use it as the tag line for the Conf

Consider:
- Building the decentralized web together

[2018-05-22 16:11] VictorBjelkholm commented on #7
Yup, on it

[2018-05-22 16:31] VictorBjelkholm commented on #7
Done!

![image](https://user-images.githubusercontent.com/459764/40376288-e07fa086-5de5-11e8-8b37-d170069ba9f3.png)

- https://twitter.com/IPFSbot/status/998964168274403328
- https://twitter.com/IPFSbot/status/998964366077816832

[2018-05-22 19:33] meiqimichelle opened #34 "Finalize IPFS website content and information architecture"
We started with [several](https://docs.google.com/document/d/1pjik41wpK2FjlB5kyHKyGGz0o6yAMGJwOtspElXbZTI/edit#) [documents](https://docs.google.com/document/d/1X2HKFq_4xy0wGnlgL_NzqeC_exHTHx6YvpxmNUftguk/edit) and notes in issues around content and information architecture for the conference website. I'm consolidating those discussions here so we can align and finalize.

@flyingzumwalt nicely sum

[2018-05-22 19:35] meiqimichelle commented on #6
I believe all of the tasks in the issue are now either closed or moved to their own issues, as noted. Closing, but please re-open if I've missed something.

[2018-05-22 19:35] #6 closed

[2018-05-22 19:39] meiqimichelle commented on #23
Update: the content and information architecture part of the deliverables doc has now been split into its own issue and documents in #34 .

I hope to have the remaining deliverable points separated into their own issues soon as well so we can track each separately and close as we complete. I'll return here and update/close this issue as needed.

[2018-05-22 19:42] meiqimichelle commented on #28
Content and information architecture feedback for this layout is now tracked separately in #34 . I will make a separate issue to provide feedback on mood/branding/visual look and feel.

[2018-05-23 10:47] mgoelzer commented on #34
I left feedback in the docs for libp2p stuff.  Overall, looks great!

[2018-05-23 14:52] meiqimichelle commented on #28
Check that, maybe it makes the most sense to provide visual look and feel feedback here in this issue instead of in a separate one. Here we go!

1) We didn't get you the latest visual design guidelines when you created this first version, apologies. The latest direction (which is pretty lightweight) is in this [ipfs-css repo](https://github.com/ipfs-shipyard/ipfs-css/blob/master/theme.json). For a

[2018-05-23 17:02] flyingzumwalt commented on #16
Waiting on a final logo from https://github.com/ipfs/conference/issues/33

[2018-05-23 17:03] flyingzumwalt commented on #16
Also think about lanyard design. @flyingzumwalt has thoughts. need to add them.

[2018-05-23 17:04] mgoelzer commented on #16
Include 1 notebook + pen for each attendee.  Does not need to be branded - just something to give them when they register so they can write.

[2018-05-23 17:12] flyingzumwalt commented on #31
We will look at the aggregate needs after applications close on May 28th and assess our budget vs needs/requests.

[2018-05-23 17:15] mgoelzer commented on #18
Update:  Lorenzo will propose a vendor for recording.

Requirement:  LivePeer is great, but if LP gets overloaded with clients, need some live stream that is still accessible in real time.

Ideas:  State of Our Networks is facing the same problem (how to live stream over IPFS) so we should watch how they plan to handle.

[2018-05-23 17:16] mgoelzer commented on #12
Plan is to have session submissions submitted as Issues in this repo.  @flyingzumwalt to create template and label.

[2018-05-23 17:18] mgoelzer commented on #24
Duplicate of #12

[2018-05-23 17:21] mgoelzer commented on #29
We're keeping a running list here:
 https://docs.google.com/document/d/1wDyGcCOOSofT9rXqx0DUgV62bUpN0_GXvuVC2Pj-jeo/edit#heading=h.lfmf619pmawi

[2018-05-23 20:47] colinevran commented on #29
@mgoelzer didn't see an explicit list in the doc, can you specify where we should put our names?

I saw a link to this excel sheet but it looks like it was deleted: https://docs.google.com/spreadsheets/d/1rrHD4fLlPIyLgGjmHotoWLbKHbESfaKHZQP2DUBAt1Q/edit#gid=0

[2018-05-24 08:53] mgoelzer commented on #29
@colinevran [This doc](https://docs.google.com/document/d/1wDyGcCOOSofT9rXqx0DUgV62bUpN0_GXvuVC2Pj-jeo/edit#heading=h.lfmf619pmawi) => go to heading **Things Helpers can Be In Charge Of**

(For some reason, I'm not able to recreate the anchor in that doc so the link clicks through to it immediately, but section is still there.)

[2018-05-24 11:35] meiqimichelle commented on #28
Hi @inesssilva , nice to meet you here!

The information architecture and content has changed significantly, as per #34, since you designed this first iteration of the layout. We can't retrofit the content to this design, and of course design should always follow content to create a clear user experience.

Still, we understand the timeline is short, and we were slow in providing feedback. **Would

[2018-05-24 13:13] benhylau commented on #18
We are just planning for State of Our Networks. The plan is to publish ts chunks and m3u8 at multiple ipfs nodes and since most people would be watching through http gateways, we will request those chunks on major gateways to warm the cache. We also will run gateways since public gateways are not very predictable in our experience. See https://github.com/tomeshnet/ipfs-live-streaming/issues/2

We

[2018-05-24 14:12] inesssilva commented on #28
Yes, I would suggest to extend the deadline to 1 Jun

To sum up, please confirm these changes:

1. Information architecture & content
2. Colours and Typefaces
3. Bold, center-aligned splash homepage

[2018-05-24 14:45] meiqimichelle commented on #28
Ah! @inesssilva I believe there was a miscommunication on the original deadline. We have a temporary blog post up now that is serving to get the word out on the upcoming meetings and conferences. We **do not** need to launch this week, I'm not sure where that deadline came from. Let's target June 1, as you suggest.

To confirm: the next step is another design iteration that reflects the informatio

[2018-05-24 17:13] inesssilva commented on #28
Hi @meiqimichelle, I don't know what happened, but perfect.

I have a new design iteration for homepage. I'm uploading 3 versions because I wasn't sure if the info about "next events" it's still relevant since it's not on content docs anymore.

Also, I think the center-aligned splash doesn't fit properly, but I will leave it here for you to see which version you prefer.

Version 1
<img width="1440

[2018-05-26 01:41] colinevran commented on #29
Signed up - thank you @mgoelzer !

[2018-05-28 17:53] mgoelzer commented on #5
@flyingzumwalt The **IPFS Developer Meeting** (fka Summit) criteria you describe in the original issue seem reasonable to me.

For the **libp2p Developer Meeting**, my proposal for acceptance follows the same basic logic.  The goal again is keep this event small (~20 people) and focused, in order to facilitate high-bandwidth discussions between people who are already highly knowledgeable about lib

[2018-05-28 23:17] flyingzumwalt opened #35 "IPFS Conf presentation proposals: Where and How?"
_This is for IPFS Conf in November, not the Dev Meetings in July. The related issues for the Dev Meetings are #12 and #24_

Where and how should we have people propose sessions for IPFS Conf?

- What are some good reference examples of how other conferences have done that?
- What timeline should we use for soliciting proposals, reviewing them, sending out acceptances, etc?
- How should we choose w

[2018-05-29 09:15] diasdavid commented on #24
The call is being uploaded at https://youtu.be/5-dRO3iHwF8.

In summary, I proposed two things:

- For accepting submissions - Accepting talks through github issues/prs vs google forms create different dynamics. We should learn from other confs that experimented with both and decide what is best for us. From my past experiences, open submissions through Github lead to more engagement from the comm

[2018-05-29 13:15] akrych commented on #33
Some other ideas:

![ipfs_conf](https://user-images.githubusercontent.com/22168118/40661066-19149da8-6353-11e8-8478-7e8685252920.png)

[2018-05-29 15:20] mgoelzer opened #36 "Acceptance/Rejection email text"
We need to send out acceptance emails soon.  The email needs to point accepted invitees to a next step (to confirm they are coming).  They also need to pay a fee-- perhaps through EventBrite.

Here is a Google doc where we can iterate on the wording of the acceptance emails:  https://docs.google.com/document/d/1Q7ENFtBM9SM4yXa7yXqdF_o2_8SV0_ROfxZoscaPD60/edit#

There are three categories of invite

[2018-05-29 19:39] mgoelzer opened #37 "Attendee List for libp2p"
Tracking issue.  Actual accept/reject is being done in private documents to protect the privacy of individual applicants.

[2018-05-29 20:27] jamiejn commented on #3
Proposed dates of room blocks for attendees are Sunday, July 8th - Saturday, July 14th.

Some PL staff and helpers will need to arrive earlier (July 6th or 7th) to prepare for the event.

[Hotel Proposals Spreadsheet](https://docs.google.com/spreadsheets/d/1_vtNEJAR3sJCS1qz0-T_GdNkTsynMxtPdWINqVHi9Xk/edit?usp=sharing)

[2018-05-29 20:29] mgoelzer commented on #36
@flyingzumwalt In thinking through this further, I think we need to direct the invitees to a registration form even if we use EventBrite.  First, I'm not sure we'll have an EventBrite account set up by tomorrow; second, not every attendee is paying but we still need them to ACK our acceptance of their application.

Why don't we just direct them to a Google form where they indicate that they are co

[2018-05-29 22:41] mgoelzer commented on #36
I have finalized the [acceptance and rejection emails](https://docs.google.com/document/d/1Q7ENFtBM9SM4yXa7yXqdF_o2_8SV0_ROfxZoscaPD60/edit#).  Note that there is now an entire workflow:  [email] -> [google form] -> [in the future, we'll follow up to collect their payments & provide hotel info]

How we communicate with both the invitees and those we reject will reflect on PL and our community in g

[2018-05-29 22:42] jamiejn commented on #36
@mgoelzer Can we also include a bullet for arrival and departures dates to help keep a total number of rooms needed throughout the week? I know most attendees will make their own room reservations but I want to make sure we have enough reserved in the block.

Will PL Core/Team that are attending get the acceptance email/be asked to fill out the Google form as well? Those are the arrival/departure

[2018-05-29 22:49] jamiejn commented on #36
I see from the Google doc that PL Core/Team will be asked to complete the registration form so that answers that question. It would be helpful to get their arrival/departure dates when they fill out the form. It can be an optional question for those that are not able to determine their schedule yet.

[2018-05-29 23:26] mgoelzer commented on #36
Jamie, reading your comments and I am beginning to think that we should not have PL Team/Core complete the registration form at all.  (Since we are sending them their own email, we can customize the process for them however we want.)  An internal spreadsheet actually seems easier to manage because people's attendance can be nailed down one by one, they can come back a few days from now and update

[2018-05-30 00:32] flyingzumwalt opened #38 "Event Registration"
Decide how we will handle registrations, how we will accept payments, and what information we need to gather at registration -- tshirt sizes, arrival/departure dates, which hotel they will stay at, whether they have dietary constraints, etc. We should gather all of this information at once when they register.

- [ ] Decide which platform to use for registration and payment (Eventbrite, brown paper

[2018-05-30 00:33] flyingzumwalt commented on #36
We’ve already made them fill out one form (or two forms) to apply to attend. We should only make them fill out one more form in order to register. Any more forms than that is just wasting their time.

The form you’ve created only asks for one new piece of information: an emergency contact number. We already have all of the other information from their initial application. Don’t make them fill out

[2018-05-30 01:43] mgoelzer commented on #36
Your reply made me laugh.  I agree the form is stupid.  We're in this situation only because I wanted to avoid writing an acceptance email that says "Please reply to this email to confirm you will attend."  I had that originally, and I just imagined a torrent of replies with each with special circumstances and questions, and the whole process just becoming disorganized and manual.  I wanted to hav

[2018-05-30 11:09] mgoelzer commented on #38
This seems like a pretty list.  Glad you thought of T-shirt size.

The only ones I have doubts about about are arrival/departure and hotel.  Why do we need this information?  (For PL Team/Core, I agree we need it.)  Also, attendees may complete the registration form before they have booked flights and hotel.

[2018-05-30 14:47] flyingzumwalt opened #39 "Pin down dates for IPFS Conf in Lisbon (November)"
Depends on pinning down the venue

[2018-05-30 15:55] flyingzumwalt opened #40 "Start accepting session proposals"
- [ ] create a template for session proposals
- [ ] post instructions for proposing sessions
- [ ] send out emails to all attendees about how to propose sessions
- [ ] send separate email to working group captains and people with KRs encouraging them to propose sessions

[2018-05-30 16:00] flyingzumwalt commented on #8
Finalizing this schedule with a great tweak suggested by @olizilla -- do single-track in the mornings and multi-track in the evenings on Day 1 and Day 2.

- Day 1: single-track in the AM, multi-track in the PM. pre-scheduled. Sourced from planning team, working group captains, and people's applications to attend._
- Day 2: single-track in the AM, multi-track in the PM. pre-scheduled.  _Sourced fro

[2018-05-30 19:48] flyingzumwalt commented on #38
@jamiejn could you address the question of why you want arrival/departure dates and info about who's staying at which hotel?

I'm not sure about ti.to, but eventbrite lets you edit your answers after registering, so people could fill in the info later. So it's technically feasible, but I'm not sure if we actually need it.

[2018-05-30 22:23] #5 closed, assigned to flyingzumwalt

[2018-05-30 22:27] #7 closed

[2018-05-30 22:36] flyingzumwalt commented on #8
This decision is finalized. Refer to the [Developer Meeting Outline](https://docs.google.com/document/d/1wDyGcCOOSofT9rXqx0DUgV62bUpN0_GXvuVC2Pj-jeo/edit#heading=h.4lj00e8c5vfo) for details (until we set up the official schedule)

[2018-05-30 22:36] #8 closed

[2018-05-30 22:38] flyingzumwalt commented on #9
Closing this for the developer meetings. We can re-open the discussion for IPFS Conf when it's time to do that planning.

[2018-05-30 22:38] #9 closed

[2018-05-30 22:59] jamiejn commented on #38
@flyingzumwalt  @mgoelzer  I would like to have arrival/departure dates mainly to have a total number of rooms that we need reserved in the blocks in each of the two hotels and on which dates to avoid cancellation fees and reserving unnecessary rooms, (especially if we expect the number of rooms will change if people leave on Wednesday.) This would also be a big help to calculate catering needs at

[2018-05-30 23:12] flyingzumwalt commented on #24
I've started assembling the instructions for proposing sessions (using PRs) in https://github.com/ipfs/developer-meetings/blob/proposing-sessions/sessions/README.md

[2018-05-30 23:15] flyingzumwalt commented on #38
As far as tools, @diasdavid has enthusiastically suggested using https://ti.to/ -- that sounds good to me. I've never used it.

[2018-05-31 07:46] diasdavid opened #41 "Moving the website to a separate repo and leaving this repo as an entry point for the events"
Right now this repo has too many things mixed and somethings have already moved out (e.g. session proposals). To make things easier for everyone, I'm reformatting this repo to be the entry point for the dev meetings and later the coordination with the community for IPFSConf, moving the website to a separate repo.

[2018-05-31 08:51] #41 closed

[2018-05-31 09:17] #39 closed

[2018-05-31 09:21] #37 closed

[2018-05-31 10:43] #29 closed

[2018-05-31 11:18] #23 closed

[2018-05-31 11:18] #25 closed

[2018-05-31 11:28] diasdavid commented on #18
This issue has many tasks mixed up. We need:

- A team to handle A/V as in: Projection, Sound
- A team to handle Recording and Live Streaming
- A team to record interviews (can be the same as the recording and interviewing)
- DRI to prepare the interviews, who gets interviewed and what format.
- Bonus: Make it work with LivePeer.

Let's continue using this issue to explore the use of LivePeer (it

[2018-05-31 11:47] #28 closed

[2018-05-31 11:48] #30 closed

[2018-05-31 11:51] #20 closed

[2018-05-31 11:53] #17 closed

[2018-05-31 11:55] #34 closed

[2018-05-31 11:56] #33 closed

[2018-05-31 11:59] #3 closed

[2018-05-31 12:01] diasdavid commented on #12
From #40, the todo list is:

- [ ] create a template for session proposals
- [ ] post instructions for proposing sessions
- [ ] send out emails to all attendees about how to propose sessions
- [ ] send separate email to working group captains and people with KRs encouraging them to propose sessions

[2018-05-31 12:02] #40 closed

[2018-05-31 12:10] #16 closed

[2018-05-31 15:59] mgoelzer commented on #18
@diasdavid I wanted to self-assign this issue (since I am working on a requirements doc for the A/V vendor(s)), but I don't have permissions for this repo.  If it makes sense for me to do these tasks together, either assign to me or give me repo permissions?

[2018-05-31 18:39] #36 closed

[2018-05-31 18:40] mgoelzer commented on #36
Good point @meiqimichelle .  I closed it without comment.  If someone wants to reopen, they can do that.

[2018-06-01 20:20] meiqimichelle commented on #38
NB: getting an account set up in https://ti.to/ is being tracked [in this issue](https://github.com/protocol/2018-dev-meetings-berlin/issues/11#issuecomment-393905162)

[2018-06-03 15:40] diasdavid commented on #35
Let's close this one until the Dev Meetings are over.

[2018-06-03 15:40] #35 closed

[2018-06-03 15:44] diasdavid commented on #38
The platform has been picked: tito.io ⭐️
We will post the registrations urls soon and announce it through the IPFS All Hands and respective repos:
- https://github.com/ipfs/developer-meetings
- https://github.com/libp2p/developer-meetings

[2018-06-03 15:44] #38 closed

[2018-06-05 00:08] meiqimichelle commented on #24
I like what @flyingzumwalt started and would like to merge, which would at least soft-launch the submissions process. If there are no blockers, I'll do this tomorrow (to give other time zones a chance to weigh in).

[2018-06-05 15:28] meiqimichelle commented on #24
Actuallllyyyy -- this is done for the IPFS dev meeting, but not for libp2p. Re-assigning to @mgoelzer so he can re-use this format for libp2p.

[2018-06-07 15:59] meiqimichelle commented on #18
@LorenzoPilia is going to look into this.

[2018-06-07 21:00] meiqimichelle commented on #31
I moved this issue to the dev meetings repo [here](https://github.com/protocol/2018-dev-meetings-berlin/issues/27). Closing.

[2018-06-07 21:00] #31 closed

[2018-06-10 14:03] LorenzoPilia commented on #15
I've used Sched several times, I think it's one of the best solutions available to present and manage schedules online, but in our case the cost would be $500: https://sched.com/pricing

Google spreadsheet does the job, but it's not very practical / easy to read on mobile, particularly if sessions descriptions are included.

[2018-06-11 16:04] meiqimichelle commented on #18
This is being tracked now with the other A/V stuff in [this issue](https://github.com/protocol/2018-dev-meetings-berlin/issues/12). Closing.

[2018-06-11 16:04] #18 closed

[2018-06-15 20:08] mgoelzer commented on #4
I just marked both applications as closed with a note encouraging them to pre-register for conf.

[2018-06-18 15:01] meiqimichelle commented on #12
A link to proposing sessions was sent out to everyone in our original 'save the date', but it was among a lot of other info. May want to send a more pointed email with instructions, suggestions, etc, and/or do personal outreach to if there are specific people we have in mind.

[2018-06-18 15:07] mgoelzer commented on #12
I'm going to do this for libp2p sessions.  (libp2p sessions are slightly
unique in that they are mandatory, but will be a mix of 3-5 lightning talks
for some plus longer content talks like on the new QUIC work for
high-interest topics.)  There should be a parallel solicitation for IPFS
sessions.

On Mon, Jun 18, 2018 at 8:01 AM, Michelle Hertzfeld <
notifications@github.com> wrote:

[2018-06-20 15:03] #24 closed

[2018-06-20 15:12] meiqimichelle commented on #15
Discussion in meeting: we should set this up to see the admin view. We don't pay until live.

[2018-06-22 14:07] diasdavid opened #43 "Session Formats"
I want to propose two new session formats in addition to the unconf, invited talks and discussions for the Developer Meetings. I'm calling them "Work Packages" & "Design Sessions" and both have a focus of putting people to work and work together.

### `Work Packages => Poster` Sessions

These sessions consist on gathering people into small groups (2~3) and explore and understand in depth one of th

[2018-06-22 14:07] diasdavid commented on #12
I'm proposing two new session formats to meet some of the objectives we have for this event and also to hit things we really need.

[2018-06-22 14:35] mgoelzer commented on #43
+1000

I LOVE the interactive component you're adding here, where people actually _create_ something to present to the group and feed into our documentation.  This is brilliant.

I'll take this over to the libp2p DM repo as an alternative to 1:many presentations.  Where I could use help:
- What's the right list of `WP=>Poster` topics?  We can start with the ones you've listed.
- Same question on p

[2018-06-22 14:54] mgoelzer commented on #12
Yes, I like your proposal in #43 a lot.  I'm going to do a PR now to update [libp2p/developer-meetings](https://github.com/libp2p/developer-meetings/issues)'s readme to have three participation options:  talk slots for stuff like QUIC (where I think there's high interest), poster teams, and protocol meetings (the last two as per your #43).

[2018-06-22 15:13] mgoelzer commented on #43
@diasdavid Are you envisioning physical posters, or markdown "posters" rendered on a display screen?

Physical posters would be more fun to create.  Markdown posters would be easier to translate into documentation afterwards.  Unfortunately, Markdown obviously does not lend itself well to columnar layouts, so every poster is going to be a long scrolling page.

[2018-06-22 22:03] flyingzumwalt commented on #43
# Session Formats

This is a slight modification to @diasdavid's proposed formats. I propose having a mix of

- Project Update lightning talks
- Deep Technical Design Sessions
- Working Sessions and Poster Sessions
- Other Well-Crafted Sessions like some activity or discussion around Devops, Community Ops, User-centered design, etc.

## Some design principles to keep in mind

**Have a variety of a

[2018-06-22 22:05] flyingzumwalt commented on #43
I think people will enjoy themselves more, and potentially produce more interesting documentation if we give them the option of producing physical posters and provide raw materials for doing that (markers, poster board, scissors, construction paper, glue sticks, tape)

[2018-06-22 23:55] flyingzumwalt commented on #43
FYI I've added all of these formats as PRs (session proposals) in https://github.com/ipfs/developer-meetings/pulls -- @diasdavid I've attributed some of them to you. Please tweak them as you see fit and then :+1: if you're fine with merging it. (or just merge them)

[2018-06-24 17:43] LorenzoPilia commented on #15
I've set up the Sched account, populated it with some basic sessions and made Jamie, Matt, Michael, Michelle admins, so you can see the preview.

[2018-06-25 03:05] meiqimichelle commented on #19
I think this is covered in other individual issues. Closing. Re-open if needed.

[2018-06-25 03:05] #19 closed

[2018-06-25 09:21] hsanjuan commented on #43
One note: while I think something like an interactive poster making session might be useful for some things, I'd really like to have a knowledgeable person explain in detail most of the things in that list: DHT, secio, libp2p connection flow, IPNS...

I think it's a better use of the time to have people that currently hold that knowledge disseminate it with ample time for a presentation and for qu

[2018-06-25 13:35] mgoelzer commented on #43
I agree with Hector, but with a twist.  I think there is room for both 1:many presentations as well as poster sessions, depending on the topic.  The key is that even the poster session needs to be led by a high-knowledge person on that topic.

See this issue where I'm trying to recruit those folks for libp2p topics you mentioned:  https://github.com/libp2p/developer-meetings/issues/10

Add new top

[2018-06-25 15:39] hsanjuan commented on #43
There are a bunch of interesting pieces which are not libp2p (more IPFS):

* [Re]providers
* Datastores
* MFS and Files API
* Chunkers, splitters, merkledags, unixfs
* IPLD (more as existing code and where it is used, rather than as specs)
* There are probably a few JS-ipfs / browser things which are specific to js-ipfs and the realm of problems that it needs to solve that go-ipfs doesn't.

[2018-06-25 19:55] flyingzumwalt opened #44 "Setting the Daily Schedule"
This is getting more detailed than the information in https://github.com/ipfs/conf/issues/8

We need to tell the venue, A/V team, etc when things will open, close, start, stop, etc. I assembled a draft schedule at [Schedule Planning](https://docs.google.com/spreadsheets/d/1Rxxzp5fKDnaXVZgD0sJxL-ZOQ0S2keCe6Ksg9ZoRYE0/edit?usp=sharing) spreadsheet, but here are the key items:

| What |  When |
|---|

[2018-06-25 20:05] flyingzumwalt commented on #44
FYI @LorenzoPilia I think you're right - we shouldn't squeeze lunch into 1 hour. I made it 90 minutes.

[2018-06-25 20:05] flyingzumwalt commented on #44
@mgoelzer will you use this same basic schedule for the libp2p meetings?

[2018-06-26 13:16] mgoelzer opened #45 "Make our Sched site publicly accessible"
I know our [Sched site](https://developersmeetingsberlin2018.sched.com/) is incomplete, but there's enough useful content there now that I'd vote to open it up publicly and share it through the README's in `[ipfs|libp2p]/developers-meeting` repos.  To do so, I need to upgrade the account to a paid "Engage" account ($500).

Anyone object to making the current Sched public?

@flyingzumwalt @meiqimic

[2018-06-26 14:13] LorenzoPilia commented on #44
@flyingzumwalt  Considering that:

- The first session will only start at 9:30
- Evening activities are planned every day
- All the attendees will be staying in a hotel nearby that provides breakfast

Why don't we open the doors at 9:00? I find it unlikely that people will arrive earlier than that. Of course we (organising team, video team, etc.) can arrive earlier at 8:00, and if someone shows up

[2018-06-26 16:01] mgoelzer commented on #45
Thanks @LorenzoPilia , I've actually never been on the admin side of a Sched, so this is interesting to see.

Yes, fully public is what I'm thinking.

My goal is really just to disseminate tentative schedule information.  We could also make the [Google Docs spreadsheet](https://docs.google.com/spreadsheets/d/1Rxxzp5fKDnaXVZgD0sJxL-ZOQ0S2keCe6Ksg9ZoRYE0/edit#gid=135146130) world readable if making

[2018-06-26 18:22] flyingzumwalt commented on #45
Question: If we make it public now, will that make it awkward when we start adding detailed items to the schedule? There will be a period where some sessions are filled in and others aren't. Will that cause confusion? Is it better to make the site public after we've populated it with all the session info? Or should we just build the session list in a spreadsheet and then bulk-import the updates wh

[2018-06-26 19:13] mgoelzer commented on #43
@diasdavid I chatted a little bit with @why, and he's thinking Protocol Design sessions will work best if we do them as 90-minute blocks.  (Probably 45+break+45.)

I'm going to schedule based on 90 minute blocks for Protocol Design, but if you think they should be shorter (or longer), we can debate it here.

[2018-06-26 20:42] jamiejn commented on #44
@LorenzoPilia I agree we should have the venue open and ready for guests by 9:00am and ending at 7:00pm. The venue coordinator will meet the planning team, AV team, etc. earlier to get everything set-up and any guests that arrive early can still come in but I don't think many will arrive more than 30 minutes early.

I would vote to keep the schedule starting at 9:30am, ending at 6:30pm to give peo

[2018-06-26 21:10] mgoelzer commented on #45
@flyingzumwalt I'm ok with either. Understand the concerns you're raising with sharing it now.

[2018-06-26 21:39] flyingzumwalt commented on #45
I think we can just do all the editing in spreadsheets and bulk update when it's ready to ship. Go ahead and make it public.

[2018-06-27 14:55] flyingzumwalt opened #46 "Post a Code of Conduct and prepare to enforce it"
The ipfs CoC is not configured for in-person events. We need to publish a variant that addresses physical space, physical safety, reporting incidents, duty officers, etc.

I have seen this one used well https://github.com/code4lib/code-of-conduct/blob/master/code_of_conduct.md

[2018-06-27 14:58] flyingzumwalt opened #47 "Imagery for LCD Screens"
There are 4 LCDs in the entryway of the venue, plus lcds in front of each breakout room. We should pick some imagery to put on those.

These might also be useful as filler imagery for projectors when they're not in use.

[2018-06-27 15:02] meiqimichelle commented on #46
Related: need something to indicate organizers on lanyards, and something to indicate duty officers, and a burner phone for them to use.

[2018-06-27 15:15] LorenzoPilia commented on #47
This is already being discussed (together with the signage for the 4 breakout room screens) in this issue: https://github.com/protocol/2018-dev-meetings-berlin/issues/17

[2018-06-27 17:12] LorenzoPilia commented on #45
The schedule is live and public at https://developersmeetingsberlin2018.sched.com/

I've changed the times so they're consistent with the spreadsheet (might be confusing otherwise).

@flyingzumwalt what do you mean with "the grid view of the schedule gets odd when we include the evening venues"?

[2018-06-27 21:44] flyingzumwalt commented on #46
I realized that my link didn't point to all the relevant info. Beyond posting a code of conduct, we should do a lot of the procedures listed in https://github.com/code4lib/code-of-conduct/blob/master/procedures.md

## Before the conference

* Assemble conference sub-comittee to handle implementation of procedures.
* Ensure Local Planning commitee includes a quiet, private space suitable for taking

[2018-06-28 21:58] mgoelzer opened #48 "bcc -> cc"
I had a conversation with an attendee about announcement emails that put everyone on the BCC line.  While it makes sense from a list management standpoint -- e.g., nobody can reply-all and set off a chain reaction of "take me off this list" messages -- it comes across to an attendee as if we are trying to obfuscate the identities of the attendees.  Since that's not the case, and especially since t

[2018-06-28 22:12] Stebalien commented on #48
Can we not make a mailing list?

[2018-06-28 22:44] mgoelzer commented on #48
We definitely can, but isn't that equally opaque from an attendee perspective?  Or are ipfs.io lists configured to let anyone see the group members?  I know protocol.ai's are not.

[2018-06-28 23:15] Stebalien commented on #48
It's still opaque, it's just more... inclusive(?). That is, it allows participants to reply to the list if they feel they have something to say.

Honestly, I don't see why everyone attending should be able to see the email addresses of everyone else attending. I don't object to having *my* email visible, but, on the other hand, I wouldn't expect it to be visible either.

But, none of that really h

[2018-06-28 23:42] mgoelzer commented on #48
No, no, it's still helpful.  I do see your point about unexpectedly receiving all the email addresses.  Maybe a gapps list is the least surprising thing that satisfies most of the transparency goals.  Or at least looks less odd.

[2018-06-29 08:41] vmx commented on #48
Another thing to keep in mind with having lots of people in CC is that it might not work well with some spam filters.

[2018-07-02 08:37] diasdavid commented on #48
mlist is the best option for archival purposes and to ensure that the people participating have been granted access (it will be impossible to keep checking the CC lists).

[2018-07-02 08:39] diasdavid commented on #46
Some successful Code of Conduct examples:

- http://confcodeofconduct.com/
- http://2014.lxjs.org/code-of-conduct/
- https://2018.jsconf.eu/code-of-conduct/

[2018-07-02 08:45] diasdavid commented on #15
It's aaaliiiiive [**SCHEDULE**](https://developersmeetingsberlin2018.sched.com/)

[2018-07-02 08:45] #15 closed

[2018-07-02 08:49] diasdavid commented on #43
I just have one remark. The high throughput / intense work sessions should not go above 3~4 people otherwise we will have a lot of spectators. Another issue that might happen is that one session will swipe entirely the brains that have most of the knowledge.

The Deep Dive sessions should also be 2~4 people tops and multiple should be run in parallel.

[2018-07-02 08:50] diasdavid commented on #12
@mgoelzer @flyingzumwalt has there been any instructions sent to all the attendees with regards to the instructions? I believe that the low level of engagement in the Session PRs is correlated with the lack of information or simply missing action items.

[2018-07-02 11:36] mgoelzer commented on #12
@diasdavid Let me know if you got my 6/27 email `Proposing & leading a session at libp2p Dev Meeting`?  That was sent to everyone attending libp2p DM, but if you don't remember receiving it then either it wasn't memorable/clear enough or something went wrong.

The process for libp2p is slightly different, the sessions are issues on https://github.com/libp2p/developer-meetings and the README of tha

[2018-07-02 13:06] diasdavid commented on #12
Both IPFS and libp2p issues show low engagement atm. Note that we have 300+ active participants in our repos (given Github stats) and 70 of which will be attending. Right now we have less than 8 people interacting or have proposed a session. It is really low.

[2018-07-03 05:54] meiqimichelle commented on #45
@flyingzumwalt was there something that needed to be changed re: the grid layout?

[2018-07-03 12:43] flyingzumwalt commented on #45
In the grid view each venue gets a column, so if we list the evening locations as venues that adds three mostly-empty columns to the grid. This makes it harder to read the practical info about which sessions are in which room. Worse - the venue’s columns are in alphabetical order from left to right, so the empty columns are missed together with the breakout rooms.

My solution: don’t list the even

[2018-07-03 13:53] mgoelzer commented on #45
Agree with Matt.  The way it is now, it kind of looks like Bar Babette is the name of a room or area at the venue.

[2018-07-03 14:13] LorenzoPilia commented on #45
Evening venues are now listed as "Other venue" so they appear last in grid view.

[2018-07-03 15:07] mgoelzer commented on #43
Yes, agree on running in parallel.  There will be a poster block, and a protocol design block.

For protocol design, I think 90 minutes is the right length for the block.

@diasdavid For the posters block, any opinion on the right length?  I'm leaning toward 60 minutes right now (not including the time afterwards to come back and present to the full group).  I've never done this activity before, s

[2018-07-03 20:28] flyingzumwalt commented on #43
@diasdavid I disagree about limiting the deep dives to 2-4 people. If the point is to disseminate knowledge, you have to accommodate spectators. A deep dive with 2-4 actively engaged known actors is something we can (and should) arrange any time. Having those 10 other people available to be spectators physically in the room with you is the rare opportunity.

Contrast: I agree that work sessions sh

[2018-07-03 20:46] mgoelzer commented on #44
I have designed the basic structure I propose for libp2p to use here:  https://docs.google.com/spreadsheets/d/1Rxxzp5fKDnaXVZgD0sJxL-ZOQ0S2keCe6Ksg9ZoRYE0/edit#gid=135146130

Seeking feedback.  @flyingzumwalt @diasdavid @meiqimichelle

Briefly, my reasoning for Thursday is:  put the high value, cognitively complex tasks (protocol design discussions) in the mid-morning, then break for lunch, then h

[2018-07-04 08:11] LorenzoPilia commented on #44
@flyingzumwalt @mgoelzer Last week we discussed and agreed to open the doors for the audience at 9am, this is what has been communicated to the venue, please adjust the schedule accordingly. Mike, I see you have a keynote scheduled on Thursday at 9am, can you move it to 9:30?

[2018-07-04 08:18] LorenzoPilia commented on #44
@flyingzumwalt If I remember correctly, you mentioned we should do the group picture on Wednesday morning before the unconference begins, and include it in the schedule, so everyone is aware that's happening.

[2018-07-04 10:36] mgoelzer commented on #44
@LorenzoPilia Thanks - good catch on the times.  I've fixed it so first activity is not until 9:30.

[2018-07-04 18:40] #45 closed

[2018-07-05 20:13] meiqimichelle commented on #46
This is next on my todo list. @flyingzumwalt where did we land on getting a burner phone? I can’t remember.

[2018-07-07 07:34] meiqimichelle commented on #46
As discussed on our Friday (yesterday) check-in, I'm going to edit our existing IFPS community Code of Conduct (https://github.com/ipfs/community/blob/master/code-of-conduct.md) to include guidance for events, and submit a PR for review.

[2018-07-07 08:12] meiqimichelle commented on #46
Done. @flyingzumwalt ready for your review here: https://github.com/ipfs/community/pull/325 .

We may also want to add another document for procedures, like Code4lib (https://github.com/code4lib/code-of-conduct/blob/master/procedures.md). What say you @flyingzumwalt ? It is nice to have these easily-accessible for volunteers.

[2018-07-07 16:56] flyingzumwalt opened #49 "Create an IRC channel for meeting attendees"
Create an IRC channel that people attending the developer meetings can use to coordinate.

We might want to give it a generic name that people can re-use for all IPFS-related events -- developer meetings, DWeb Summit, IPFS Conf, etc.

[2018-07-08 21:09] flyingzumwalt commented on #46
I tweaked what @meiqimichelle added and merged it. Thank you @meiqimichelle!

https://github.com/ipfs/community/blob/master/code-of-conduct-procedures-for-events.md

I merged it without waiting for approval of the PR because we need to have _something_ in place before tomorrow morning. I would have preferred to follow proper community process for changing something like the CoC, so I would be real

[2018-07-08 21:09] #46 closed

[2018-07-14 22:41] #44 closed

[2018-07-14 22:42] #12 closed

[2018-07-14 22:42] #43 closed

[2018-07-14 22:42] #10 closed

[2018-07-28 16:14] satazor commented on #25
Just for reference, I've made https://github.com/moxystudio/gatsby-plugin-ipfs. It turns out the Gatsby doesn't support relative paths which is a must for sites to be deployed in IPFS. That plugin gets around it, see https://github.com/moxystudio/gatsby-plugin-ipfs#but-how.

[2018-08-07 22:08] lidel commented on #49
I think we've created `#ipfs-events` @ freenode for Berlin Developer Meetings last month.

[2018-08-22 17:34] #49 closed

[2018-09-06 08:53] mib-kd743naq opened #50 "Scarce information regarding IPFS-Conf in November"
Hi folks!

TL;DR: [This needs updating ( also why 2019 :thinking:)](https://github.com/ipfs/conf#ipfs-conf-lisbon-2019)

I will resume my whining about there being little information regarding an event that is supposed to take place in less than 3 months. Many of us have (BORING!) dayjobs and it would be rather difficult to negotiate a comfortable amount of time off on such short notice. Additiona

[2018-09-06 20:26] flyingzumwalt commented on #50
We have decided to postpone the IPFS Conf to 2019 in order to give ourselves more time to do a proper call for proposals, source the best presenters, and generally to make the event amazing. We are a bit behind on sending an email about this decision to the people who've pre-registered and we need to put up a blog post about it.

In the meantime we've updated the existing blog post and the dev mee

[2018-09-06 21:21] meiqimichelle commented on #50
One more place to update -- this repo description. It says `Coordination for IPFS Conf 2018 and IPFS & libp2p Dev Meetings July 2018 https://conf.ipfs.io` . We may also want to remove the IPFS Conf url until there's something launched there :)

(I don't have permissions in this repo to edit myself, unfortunately.)

[2018-09-16 18:04] mib-kd743naq commented on #50
@flyingzumwalt @meiqimichelle that's a bummer :crying_cat_face:  Here's to hoping 2019 will be a blast worth the wait! ( the IPFS-Dev-meet in Berlin was off-the-charts-amazing btw, I can't stress this enough! )

I will close this ticket for the time being

[2018-09-16 18:04] #50 closed

[2018-09-16 18:06] mib-kd743naq opened #52 "Availability of video from 2018 IPFS Developer Conference"
As per subject, mainly opening this to ease tracking of when they will show up.

IIRC it was @diasdavid who was going to organize a youtube-page going forward?

Any info greatly appreciated!

[2018-09-16 19:47] mib-kd743naq commented on #52
Nevermind me - just found/subscribed to https://github.com/ipfs/developer-meetings/issues/42

[2018-09-16 19:47] #52 closed

[2019-01-09 18:46] bonedaddy opened #53 "User registry link in pre-register form is empty"
The link to the user registry form is dead as per:
![](https://gateway.temporal.cloud/ipfs/QmfVijxsbrYnJits2YW731HJ2EX3JposGZhD6teKTBrM57)

[2019-05-31 08:11] kumavis opened #54 "Url gives SSL error"
https://github.com/ipfs/conf

[2020-01-28 16:21] danielarmengolaltayo opened #55 "Link to pre-register is not found"
Dynamic Link Not Found

Short URL (https://goo.gl/forms/0Pu6VZzG8pRAmrrv2) not found

If you are the developer of this app, ensure that your Dynamic Links domain is correctly configured and that the path component of this URL is valid.

[2020-01-29 09:25] #54 closed

[2020-01-29 09:25] hsanjuan commented on #54
github issue?

[2020-01-29 09:26] hsanjuan commented on #53
I am going to archive this until we actually launch an ipfs conf.

[2020-01-29 09:26] #53 closed

[2020-01-29 09:26] hsanjuan commented on #55
Thanks. This repository is for something that has not come to happen or launch yet. I will disable it for the moment.

[2020-01-29 09:26] #55 closed